.post-details{
  font-family: sans-serif;
  font-style: normal;

  font-size: 28px;
  text-align: center;
  justify-content: center;


}
p{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  text-size-adjust: 1rem;
  color: rgb(1, 25, 1);
}


