.image {
  
  border-radius: 10%;
  margin-top: 2rem;
  margin-bottom: 5rem;
  height: 15rem;
  justify-content: center;
}
.post{
  font-family: Roboto, sans-serif;
  margin-top: 2rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
  width: 15rem;
  height: 15rem;
  justify-content: center;
}


