.App {
  text-align: center;
}

.App-logo {
  height: 10rem;
  width: 20rem;
  margin-right: auto;
  pointer-events: none;
}

.App-header {
  background-color: #0a352b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.post-menu{
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 2rem;

  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 5rem;


}

